:root {
  --headers-color: #212121;
  --accent-color: #2196f3;
  --accent-opacity-color: rgba(33, 150, 243, 0.9);
  --text-color: #757575;
  --white-color: #ffffff;
  --black-color: #000000;
  --portfolio-border: #eeeeee;
  --port-header-border: #ececec;
  --bgc: #2f303a;
  --button-bcg-color: #f5f4fa;
  --footer-address-color: rgba(255, 255, 255, 0.6);
  --footer-icons-bcg-color: rgba(255, 255, 255, 0.1);
  --hero-bg-color: rgba(47, 48, 58, 0.4);
  --wedo-bgc: rgba(47, 48, 58, 0.8);
  --icon-color: #afb1b8;
  --modal-bgc: rgba(0, 0, 0, 0.2);
  --close-border-color: rgba(0, 0, 0, 0.1);
  --form-field-border: rgba(33, 33, 33, 0.2);
  --footer-input-border: rgba(255, 255, 255, 0.3);
  --textarea-placeholder-color: rgba(117, 117, 117, 0.5);
}
/*общие стили*/
body {
  color: var(--text-color);
  background-color: var(--white-color);
  letter-spacing: 0.03em;
  font-family: roboto, sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.list {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*общие стили*/
/* шапка */
.header__container {
  display: flex;
  align-items: center;
}
/*логотип*/
.logo {
  display: inline-block;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.header__logo {
  margin-right: 93px;
  color: var(--black-color);
}
.logo__accent {
  color: var(--accent-color);
}
/*логотип*/
/*навигация*/
.nav {
  display: flex;
}
.nav__item:not(:last-child) {
  margin-right: 50px;
}
.nav__link {
  position: relative;

  display: block;

  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--headers-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav__link:hover,
.nav__link:focus {
  color: var(--accent-color);
}
.nav__link--current {
  color: var(--accent-color);
}
.nav__link--current::after {
  position: absolute;
  bottom: 0;
  left: 0;

  display: inline-block;
  content: "";
  width: 100%;
  height: 4px;

  background: #2196f3;
  border-radius: 2px;
}
/* ссылки  */
.contakts {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.contakts a:not(:last-child) {
  margin-right: 50px;
}
.header__link {
  display: inline-flex;
  align-items: center;
  color: inherit;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contakts__link {
  font-size: 14px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contakts__link:hover,
.contakts__link:focus {
  color: var(--accent-color);
}
.contakts__icon {
  /* иконки в ссылках */
  margin-right: 10px;

  fill: var(--text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contakts__link:hover .contakts__icon,
.contakts__link:focus .contakts__icon {
  fill: var(--accent-color);
}

/*шапка*/
/*hero*/
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--bgc);
  color: var(--white-color);
  background-image: linear-gradient(
      to right,
      var(--hero-bg-color),
      var(--hero-bg-color)
    ),
    url(../images/herobg-optim.jpg);

  letter-spacing: 0.06em;
  text-align: center;
}
.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;

  width: 696px;
  margin-bottom: 30px;
  margin-top: 0;
}
.btn {
  border: none;
  border-radius: 4px;

  color: var(--white-color);
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}
.hero__btn {
  display: inline-block;
  padding: 10px 32px;
}
.btn:hover {
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/*hero*/
/*features*/
.feature-list {
  /* список особенностей*/
  display: flex;
}
.feature-list__item {
  width: calc((100% - 90px) / 4);
}
.feature-list > li:not(:last-child) {
  margin-right: 30px;
}
.feature__title {
  /* заголовок пункта списка */
  color: var(--headers-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 10px;
}
.feature__description {
  font-size: 14px;
  line-height: 1.71;

  margin: 0;
}
.feature__icon {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--button-bcg-color);

  width: 270px;
  height: 120px;

  margin-bottom: 30px;
}
/*occupations*/
.occupations__section {
  padding-top: 0;
}
.occupations-list {
  display: flex;
  justify-content: space-between;
}
.occupations-list__item {
  width: calc((100% - 60px) / 3);
}
.occupation-card {
  /* обертка для картинки и подписи поверх */
  position: relative;
}
.occupation-card__description {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 70px;
  margin: 0;
  padding-top: 27px;

  background-color: var(--wedo-bgc);
  color: var(--white-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}
/*occupations*/
/* team*/
.team__section {
  /* секция */
  background-color: var(--button-bcg-color);
}
.section__header {
  /* заголовки секций */
  color: var(--headers-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  margin-top: 0;
  margin-bottom: 50px;
}
.member__card {
  /* карточка члена команды */
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.member__photo {
  margin-bottom: 30px;
}
.member__name {
  /* имя члена команды */
  color: var(--headers-color);

  font-weight: 500;
  font-size: inherit;

  margin-top: 0px;
  margin-bottom: 10px;
}
.member__profession {
  /* профессия члена команды */
  margin-top: 0;
  margin-bottom: 16px;
}
.team-list {
  /* список карточек */
  display: flex;
  justify-content: space-between;
}
.member {
  /* элемент списка карточек */
  width: calc((100% - 90px) / 4);
}
.socmedia-list {
  /* иконки соцсетей */
  display: flex;
  justify-content: space-between;

  padding-right: 32px;
  padding-left: 32px;
  padding-bottom: 30px;
}
.socmedia__link {
  /* ссылка на соцсеть */
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;

  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socmedia__icon {
  /* иконка соцсети */
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socmedia__link:hover .socmedia__icon,
.socmedia__link:focus .socmedia__icon {
  fill: var(--white-color);
}
.socmedia__link:hover,
.socmedia__link:focus {
  background-color: var(--accent-color);
}
/*team*/
/*clients*/
.client-list {
  /* список логотипов клиентов */
  display: flex;
  justify-content: space-between;
}
.client-list__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 90px;

  border: 1px solid var(--icon-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-list__link:hover,
.client-list__link:focus {
  border: 1px solid var(--accent-color);
}
.client-list__icon {
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-list__link:hover .client-list__icon,
.client-list__link:focus .client-list__icon {
  fill: var(--accent-color);
}
/*clients*/
/*футер*/
.footer__container {
  display: flex;
  align-items: baseline;
}
/* первый блок */
.footer {
  background-color: var(--bgc);
}
.address__city {
  /* адрес */
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;

  color: var(--white-color);

  margin-top: 0;
  margin-bottom: 9px;
}
.footer__link {
  /* контакты */
  color: var(--footer-address-color);

  font-style: normal;
  line-height: 1.71;
}
.address__logo {
  padding-top: 60px;
  padding-bottom: 0;
  margin-bottom: 20px;
  margin-right: 0;

  color: var(--white-color);
}
.address__mail {
  margin-bottom: 9px;
}
.address {
  /* блок с адресом */
  display: flex;
  flex-direction: column;

  padding-bottom: 60px;
}
/* второй блок */
.join {
  width: 206px;
  margin-left: 70px;
}
.footer-area__title {
  /* слоган */
  display: block;

  color: var(--white-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-bottom: 20px;
}
.join__list {
  /* список соцсетей */
  display: flex;
  justify-content: space-between;

  padding: 0;
}
.join__link {
  background-color: var(--footer-icons-bcg-color);
}
.join__icon {
  fill: var(--white-color);
}

/* третий блок */
.signup {
  margin-right: 0;
  margin-left: auto;
}

.signup__input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;

  background-color: var(--bgc);
  border: 1px solid var(--footer-input-border);
  border-radius: 4px;
  color: var(--footer-address-color);
}
.signup__input::placeholder {
  color: var(--footer-address-color);

  padding-top: 15px;
  padding-bottom: 15px;
}
.signup__btn {
  display: inline-flex;
  align-items: center;

  padding: 10px 28px 10px 29px;
}
.signup-container button:hover {
  cursor: pointer;
}
.signup__icon {
  margin-left: 10px;
  fill: var(--white-color);
}
/*футер*/
/*portfolio*/
.port-header {
  /* хедер */
  border-bottom: 1px solid var(--port-header-border);
}
.filter-collection {
  /* форма либо контейнер нав */
  display: flex;
  justify-content: center;

  margin-bottom: 34px;
}
.filter {
  /* метка либо кнопка */
  color: var(--headers-color);
  background-color: var(--button-bcg-color);
  border-radius: 4px;
  border-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 6px 22px;
}
.filter:not(:last-child) {
  margin-right: 8px;
}
.filter-collection input:focus + .filter {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filter:hover {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.work-example__title {
  /* заголовок карточки портфолио */
  color: var(--headers-color);

  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-top: 0;
  margin-bottom: 4px;
}
.work-example__area {
  /* текст в карточке портфолио */
  color: var(--text-color);

  font-size: 16px;
  line-height: 1.87;

  margin: 0;
}
.work-example__text-wrapper {
  /* контейнер для всего текста под картинкой */
  padding-left: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-right: 24px;

  border-bottom: 1px solid var(--portfolio-border);
  border-right: 1px solid var(--portfolio-border);
  border-left: 1px solid var(--portfolio-border);
}
.cards-collection {
  /* список карточек */
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.work-example__link {
  /* в ссылке вся карточка */
  display: block;
}
.work-example {
  width: calc((100% - 60px) / 3);
}
.cards-collection > li:nth-child(3n + 2) {
  margin-right: 30px;
  margin-left: 30px;
}
.cards-collection > li:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.work-example__link:hover,
.work-example__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.work-example__image-wrapper {
  /* обертка для картинки и текста поверх */
  position: relative;
  overflow: hidden;
}
.work-example__description {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 63px 24px;
  margin: 0;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: var(--white-color);
  background-color: var(--accent-opacity-color);
}
.work-example__link:hover .work-example__description,
.work-example__link:focus .work-example__description {
  transform: translateY(0);
}
/*portfolio*/
/*modal window*/
.backdrop {
  /* серый фон */
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: var(--modal-bgc);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%) scale(1.5);
}
.modal {
  position: fixed;
  top: 221px;
  left: 50%;

  transform: translate(-50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 528px;
  height: 581px;

  background-color: var(--white-color);
  border-radius: 4px;
}
.close {
  /* кнопка закрытия мод окна */
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;

  background-color: var(--white-color);
  border: 1px solid var(--close-border-color);
  border-radius: 50%;
}
.close__icon {
  fill: var(--black-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close:hover .close__icon {
  fill: var(--accent-color);
}
.close:hover {
  cursor: pointer;
}
.form {
  box-sizing: content-box;

  width: 448px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.form__title {
  display: inline-block;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--headers-color);

  margin-bottom: 12px;
}
.form__field {
  position: relative;

  display: flex;
  flex-direction: column;

  margin-bottom: 10px;
}
.form__label {
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.form__input {
  border: 1px solid var(--form-field-border);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding-left: 42px;

  height: 40px;
}
.form__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;

  fill: var(--headers-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__field:hover .form__icon,
.form__field:focus .form__icon {
  fill: var(--accent-color);
}
.form__input:hover,
.form__input:focus {
  border-color: var(--accent-color);
  cursor: pointer;
}
.form__textarea {
  width: 448px;
  height: 120px;
  resize: none;
  padding: 12px 16px 12px 16px;
  margin-bottom: 20px;
}
.form__textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--textarea-placeholder-color);
}
.checkbox {
  /* контейнер для галочки и текста */
  margin-bottom: 30px;
}
.checkbox:hover .checkbox__choose {
  border-color: var(--accent-color);
}
.checkbox__label {
  display: inline-block;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.checkbox__choose {
  /* кастомный чекбокс */
  display: inline-block;
  position: relative;

  width: 16px;
  height: 15px;
  margin-right: 8px;

  border: 1px solid var(--headers-color);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__icon {
  position: absolute;
  top: -2px;
  left: -2px;

  fill: white;
  stroke: white;
}
.checkbox__input:checked + .checkbox__choose {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}
.checkbox__input:focus + .checkbox__choose {
  border-color: var(--accent-color);
}
.checkbox__link {
  color: var(--accent-color);
  text-decoration: underline;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.form__btn-wrapper {
  display: flex;
  justify-content: center;
}
.form__btn {
  display: inline-block;
  padding: 10px 55px;
}

/*modal window*/
