body {
  color: $text-color;
  background-color: $white-color;
  letter-spacing: 0.03em;
  font-family: roboto, sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@mixin section-padding($padding-top: 94px, $padding-bottom: 94px) {
  padding-top: $padding-top;
  padding-bottom: $padding-bottom;
}
.section {
  @include section-padding;
}
.list {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  @include pos-abs($top: 0, $left: 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  border: none;
  border-radius: 4px;

  color: $white-color;
  background-color: $accent-color;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  &:hover {
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
.section__header {
  /* заголовки секций */
  color: $headers-color;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  margin-top: 0;
  margin-bottom: 50px;
}
