.header__container {
  @include flex-container($justif: flex-start);
}

.nav {
  @include flex-container($align: stretch, $justif: flex-start);
}
.nav__item:not(:last-child) {
  margin-right: 50px;
}
.nav__link {
  position: relative;

  display: block;

  padding-top: 32px;
  padding-bottom: 32px;

  color: $headers-color;
  transition: color 250ms $cubic;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  &:hover,
  &:focus {
    color: $accent-color;
  }
  &--current {
    color: $accent-color;
  }
  &--current::after {
    @include pos-abs($bottom: 0, $left: 0);

    display: inline-block;
    content: "";
    width: 100%;
    height: 4px;

    background: #2196f3;
    border-radius: 2px;
  }
}
